<h1>All Plots</h1>
<% @plots.each do |plot| %>
  <section id="plot-<%= plot.id %>">
    <h3><%= plot.number %></h3>
    <% plot.plants.each do |plant| %>
      <div id="plant-<%= plant.id %>">
        <p><%= plant.name %> <%= link_to 'Remove', patches_path(plot.id, plant.id, plant: plant.id), method: :delete %></p>
      </div>
    <% end %>
  </section>
<% end %>
